:root {
  --light-background: #fff;
  --light-container-form-color: #f6f8fa;
  --light-ordinary-font-color: #24292f;
  --light-login-border-color: #d0d7de;
  --light-button-sign-in-color: #2ca44e;
  --light-button-sign-in-hover-color: #24843c;
  --light-link-color: #0b68da;
  --light-input-border-color: #0b68da;
  --light-input-border-glow: #b6ccf2;
  --light-contact-color: #f6f8fa;
  --dark-background: #0d1116;
  --dark-container-form-color: #161b22;
  --dark-ordinary-font-color: #c8d1d9;
  --dark-login-border-color: #21262d;
  --dark-button-sign-in-color: #238536;
  --dark-button-sign-in-hover-color: #2da042;
  --dark-link-color: #58a5ff;
  --dark-input-border-color: #1f6feb;
  --dark-input-border-glow: #0c2c6b;
  --dark-contact-color: #6b727b;
}

/* --------- theme colors --------- */
/* --------- Reset --------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

/* --------- GENERAL --------- */
.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  width: 100px;
}

h1 {
  color: var(--font);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.container__form {
  border: 1px solid var(--input-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 30px auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--container__form);
  color: var(--font);
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  margin: 16px 0px 0px;
  border-radius: 6px;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  border: 1px solid var(--input-border);
  border-radius: 6px;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

button {
  background-color: var(--sing-in-button);
  color: white;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border: none;
  border-radius: 6px;
  margin: 20px 0px 0px;
  padding: 5px 16px;
}

button:hover {
  background-color: var(--sign-in-button_hover);
  cursor: pointer;
}

.login {
  border: 1px solid var(--input-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px;
  padding: 15px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create {
  font-size: 11.9px;
  color: var(--link);
  text-decoration: none;
}

.create:hover {
  text-decoration: underline;
}

.link {
  position: relative;
  right: 0;
  color: var(--link);
  font-size: 11.9px;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.forgot {
  color: var(--link);
  font-size: 11.9px;
  float: right;
  text-decoration: none;
}

.contact {
  color: var(--contact-link);
  text-decoration: none;
  font-size: 11.9px;
}

.contact:hover {
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px 0 0;
  padding: 40px;
  width: 340px;
}

/* --------- switch --------- */
.switch input {
  display: none;
}

.slider {
  /* background-color: #999; */
  background-color: var(--themeSwitchColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}
/*# sourceMappingURL=sass-github.css.map */