@import "./components/variables";
@import "./components/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: $size-unit;
  line-height: 1.5;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  width: 100px;
}

h1 {
  color: $gray-dark;
  font-size: $size-unit;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.container__form {
  @include border();
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 30px auto;
  justify-content: space-evenly;
  background-color: $gray-light;
  color: $gray-dark;
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  margin: 16px 0px 0px;
  border-radius: $radius;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  @include border();
  border-radius: $radius;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

button {
  background-color: $green;
  color: white;
  font: normal;
  font-size: $size-unit;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border: none;
  border-radius: $radius;
  margin: 20px 0px 0px;
  padding: 5px 16px;

  &:hover {
    background-color: $green-dark;
    cursor: pointer;
  }
}

.login {
  @include border();
  display: flex;
  position: relative;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px;
  padding: 15px 20px;
  justify-content: center;
}

.create {
  font-size: 0.85 * $size-unit;
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  position: relative;
  right: 0;
  color: $blue;
  font-size: 0.85 * $size-unit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.forgot {
  color: $blue;
  font-size: 0.85 * $size-unit;
  float: right;
  text-decoration: none;
}

.contact {
  color: $gray-mid;
  text-decoration: none;
  font-size: 0.85 * $size-unit;

  &:hover {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px 0 0;
  padding: 40px;
  width: 340px;
}
