@import "./components/variables";
@import "./components/mixins";

/* --------- theme colors --------- */

.light-theme {
  --background: $light-background;
  --container__form: $light-container-form-color;
  --font: $light-ordinary-font-color;
  --form_login: $light-login-border-color;
  --sing-in-button: $light-button-sign-in-color;
  --sign-in-button_hover: $light-button-sign-in-hover-color;
  --link: $light-link-color;
  --input-border: $light-input-border-color;
  --input-border-glow: $light-input-border-glow;
  --contact-link: $light-contact-color;
}

.dark-theme {
  --background: $dark-background;
  --container__form: $dark-container-form-color;
  --font: $dark-ordinary-font-color;
  --form_login: $dark-login-border-color;
  --sing-in-button: $dark-button-sign-in-color;
  --sign-in-button_hover: $dark-button-sign-in-hover-color;
  --link: $dark-link-color;
  --input-border: $dark-input-border-color;
  --input-border-glow: $dark-input-border-glow;
  --contact-link: $dark-contact-color;
}

/* --------- Reset --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: $size-unit;
  line-height: 1.5;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

/* --------- GENERAL --------- */

.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  width: 100px;
}

h1 {
  color: var(--font);
  font-size: $size-unit;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.container__form {
  @include border();
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 30px auto;
  justify-content: space-evenly;
  background-color: var(--container__form);
  color: var(--font);
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  margin: 16px 0px 0px;
  border-radius: $radius;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  @include border();
  border-radius: $radius;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

button {
  background-color: var(--sing-in-button);
  color: white;
  font-style: normal;
  font-size: $size-unit;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border: none;
  border-radius: $radius;
  margin: 20px 0px 0px;
  padding: 5px 16px;

  &:hover {
    background-color: var(--sign-in-button_hover);
    cursor: pointer;
  }
}

.login {
  @include border();
  display: flex;
  position: relative;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px;
  padding: 15px 20px;
  justify-content: center;
}

.create {
  font-size: 0.85 * $size-unit;
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  position: relative;
  right: 0;
  color: var(--link);
  font-size: 0.85 * $size-unit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.forgot {
  color: var(--link);
  font-size: 0.85 * $size-unit;
  float: right;
  text-decoration: none;
}

.contact {
  color: var(--contact-link);
  text-decoration: none;
  font-size: 0.85 * $size-unit;

  &:hover {
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px 0 0;
  padding: 40px;
  width: 340px;
}

/* --------- switch --------- */
