@import "./components/variables";
@import "./components/mixins";

:root {
    // light theme
    --light-background: #fff;
    --light-container-form-color: #f6f8fa;
    --light-ordinary-font-color: #24292f;
    --light-login-border-color: #d0d7de;
    --light-button-sign-in-color: #2ca44e;
    --light-button-sign-in-hover-color: #24843c;
    --light-link-color: #0b68da;
    --light-input-border-color: #0b68da;
    --light-input-border-glow: #b6ccf2;
    --light-contact-color: #f6f8fa;
  
    // dark theme
    --dark-background: #0d1116;
    --dark-container-form-color: #161b22;
    --dark-ordinary-font-color: #c8d1d9;
    --dark-login-border-color: #21262d;
    --dark-button-sign-in-color: #238536;
    --dark-button-sign-in-hover-color: #2da042;
    --dark-link-color: #58a5ff;
    --dark-input-border-color: #1f6feb;
    --dark-input-border-glow: #0c2c6b;
    --dark-contact-color: #6b727b;
}

/* --------- theme colors --------- */

.light-theme {
  --background: var(light-background;)
  --container__form: var(light-container-form-color;)
  --font: var(light-ordinary-font-color;)
  --form_login: var(light-login-border-color;)
  --sing-in-button: var(light-button-sign-in-color;)
  --sign-in-button_hover: var(light-button-sign-in-hover-color;)
  --link: var(light-link-color;)
  --input-border: var(light-input-border-color;)
  --input-border-glow: var(light-input-border-glow;)
  --contact-link: var(light-contact-color;)
}

.dark-theme {
  --background: var(dark-background;)
  --container__form: var(dark-container-form-color;)
  --font: var(dark-ordinary-font-color;)
  --form_login: var(dark-login-border-color;)
  --sing-in-button: var(dark-button-sign-in-color;)
  --sign-in-button_hover: var(dark-button-sign-in-hover-color;)
  --link: var(dark-link-color;)
  --input-border: var(dark-input-border-color;)
  --input-border-glow: var(dark-input-border-glow;)
  --contact-link: var(dark-contact-color;)
}

/* --------- Reset --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: $size-unit;
  line-height: 1.5;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

/* --------- GENERAL --------- */

.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  width: 100px;
}

h1 {
  color: var(--font);
  font-size: $size-unit;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.container__form {
  @include border();
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 30px auto;
  justify-content: space-evenly;
  background-color: var(--container__form);
  color: var(--font);
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  margin: 16px 0px 0px;
  border-radius: $radius;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  @include border();
  border-radius: $radius;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  margin: 5px 0 15px;
}

button {
  background-color: var(--sing-in-button);
  color: white;
  font-style: normal;
  font-size: $size-unit;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border: none;
  border-radius: $radius;
  margin: 20px 0px 0px;
  padding: 5px 16px;

  &:hover {
    background-color: var(--sign-in-button_hover);
    cursor: pointer;
  }
}

.login {
  @include border();
  display: flex;
  position: relative;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px;
  padding: 15px 20px;
  justify-content: center;
}

.create {
  font-size: 0.85 * $size-unit;
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  position: relative;
  right: 0;
  color: var(--link);
  font-size: 0.85 * $size-unit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.forgot {
  color: var(--link);
  font-size: 0.85 * $size-unit;
  float: right;
  text-decoration: none;
}

.contact {
  color: var(--contact-link);
  text-decoration: none;
  font-size: 0.85 * $size-unit;

  &:hover {
    color: var(--link);
    text-decoration: underline;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px 0 0;
  padding: 40px;
  width: 340px;
}

/* --------- switch --------- */

.switch input {
  display: none;
}

.slider {
  /* background-color: #999; */
  background-color: var(--themeSwitchColor);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  transform: translateX(8px);
}
