/* --------- THEME COLORS --------- 

  --d-background: #0d1116;
  --d-font: #c8d1d9;
  --d-container-form: #161b22;
  --d-login-container-input-border: #D8DEE3;
  --d-link: #58a5ff;
  --d-input-border: #1f6feb;
  --d-input-outline: #0c2c6b;
  --d-button: #238536;
  --d-button-border-hover: #2ca44e;
  --d-github-contact: #9f9e9e;
  --d-switch-color: ???;

*/

/* --------- theme colors --------- */
/* --------- Reset --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  flex-flow: column nowrap;
  box-pack: start;
  flex-wrap: start;
  justify-content: flex-start;
  box-align: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background: #0d1116;
}

/* --------- GENERAL --------- */
.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  max-width: 3.5em;
}

h1 {
  color: #c8d1d9;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.container__form {
  background: #161b22;
  border: 1px solid #21262d;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  box-pack: space-evenly;
  flex-wrap: space-evenly;
  justify-content: space-evenly;
  max-width: 23em;
  margin-left: 1em;

  color: #c8d1d9;
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  border-radius: 6px;
}

label {
  display: flex;
  align-content: flex-start;
  margin-bottom: 0.5em;
}

/* password label */
label.label {
  margin-bottom: 0;
}

.pass {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4em;
}

.forgot {
  color: #58a5ff;
  font-size: 0.9em;
  float: right;
  text-decoration: none;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  border: 0.09em solid #21262d;
  border-radius: 6px;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 5px 0 13px;
  background: #0d1116;
}

/* double border */
.input:hover {
  border: 1px solid #1f6feb;
  outline: 0.2em solid #0c2c6b;
}

button {
  color: #fff;
  background: #238536;
  border: 0.5px solid #2ca44e;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border-radius: 6px;
  margin-top: 0.2em;
  padding: 5px 16px;
}

button:hover {
  background-color: #2ca44e;
  cursor: pointer;
}

.login {
  display: flex;
  position: relative;
  width: 340px;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px 15px;
  padding: 15px 20px;
  box-pack: center;
  flex-wrap: center;
  justify-content: center;
  border: 1px solid #21262d;
  max-width: 23em;
}

.login p {
  color: #c8d1d9;
}

.create {
  color: #58a5ff;
  font-size: inherit;
  text-decoration: none;
}

.create:hover,
.forgot:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  box-pack: justify;
  flex-wrap: justify;
  justify-content: space-between;
  box-align: center;
  text-align: center;
  align-items: center;
  flex-wrap: distribute;
  justify-content: space-around;
  margin-top: 3em;
  padding: 40px;
  width: 340px;
}

.link,
.contact {
  position: relative;
  right: 0;
  color: #58a5ff;
  font-size: 11.9px;
  text-decoration: none;
}

.contact {
  color: #9f9e9e;
}

.link:hover,
.contact:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #58a5ff;
}

/* --------- switch --------- */
.switch input {
  display: none;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.switch div {
  position: relative;
  display: block;
  /* transform: translate(15em, 2em); */
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.switch div {
  position: relative;
  display: block;
  background: black;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;

  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  /* background: lightblue; */
}

.slider {
  background: #0d1116;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  transform: translateX(8px);
  transform: translateX(8px);
}
