/* --------- THEME COLORS --------- 


  --light-background: #fff;
  --light-container-form-color: #f6f8fa;
  --light-ordinary-font-color: #24292f;
  --light-login-border-color: #d0d7de;
  --light-button-sign-in-color: #2ca44e;
  --light-button-sign-in-hover-color: #24843c;
  --light-link-color: #0b68da;
  --light-input-border-color: #0b68da;
  --light-input-border-glow: #b6ccf2;
  --light-contact-color: #f6f8fa;
  --light-switch-color: #d0d7de;

*/

/* --------- theme colors --------- */
/* --------- Reset --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  display: box;
  display: flexbox;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  flex-flow: column nowrap;
  box-pack: start;
  flex-wrap: start;
  justify-content: flex-start;
  box-align: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

/* --------- GENERAL --------- */
.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  width: 100px;
}

h1 {
  color: var(--font);
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.container__form {
  border: 1px solid #d8dee3;
  background: #f6f8fa;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  box-pack: space-evenly;
  flex-wrap: space-evenly;
  justify-content: space-evenly;
  max-width: 23em;
  margin-left: 1em;

  color: #24292f;
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  border-radius: 6px;
}

label {
  display: flex;
  align-content: flex-start;
  margin-bottom: 0.5em;
}

.pass {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4em;
}

.forgot {
  color: #0b68da;
  font-size: 0.9em;
  float: right;
  text-decoration: none;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  border: 0.09em solid #d8dee3;
  border-radius: 6px;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 5px 0 15px;
  background: #fff;
}

.input:hover {
  border: 1px solid var(--input-border);
}

button {
  background-color: var(--sing-in-button);
  color: var(--font);
  font-style: normal;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border: none;
  border-radius: 6px;
  margin: 20px 0px 0px;
  padding: 5px 16px;
}

button:hover {
  background-color: var(--sign-in-button_hover);
  cursor: pointer;
}

.login {
  border: 1px solid var(--input-border);
  display: box;
  display: flexbox;
  display: flex;
  position: relative;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px;
  padding: 15px 20px;
  box-pack: center;
  flex-wrap: center;
  justify-content: center;
}

.login p {
  color: var(--font);
}

.create {
  font-size: 11.9px;
  color: var(--link);
  text-decoration: none;
}

.create:hover {
  text-decoration: underline;
}

.link {
  position: relative;
  right: 0;
  color: var(--link);
  font-size: 11.9px;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contact {
  color: var(--contact-link);
  text-decoration: none;
  font-size: 11.9px;
}

.contact:hover {
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  display: box;
  display: flexbox;
  display: flex;
  box-pack: justify;
  flex-wrap: justify;
  justify-content: space-between;
  box-align: center;
  text-align: center;
  align-items: center;
  flex-wrap: distribute;
  justify-content: space-around;
  margin-top: 40px 0 0;
  padding: 40px;
  width: 340px;
}

/* --------- switch --------- */
.switch input {
  display: none;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.switch div {
  position: relative;
  display: block;
  /* transform: translate(15em, 2em); */
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.switch div {
  position: relative;
  display: block;
  background: black;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;

  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  /* background: lightblue; */
}

.slider {
  background: var(--themeSwitchColor);

  /* background-color: white; */
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  transform: translateX(8px);
  transform: translateX(8px);
}

/* switch px >> em */
