/* --------- THEME COLORS --------- 

--------- light theme ---------

  --l-background: #fff;
  --l-font: #24292f;
  --l-container-form: #f6f8fa; 
  --l-login-container-input-border: #D8DEE3;
  --l-link: #0b68da;
  --l-input-border: #d8dee3;
  --l-input-outline: #b6ccf2; 
  --l-button: #2ca44e;
  --l-button-border-hover: #24843c;
  --l-github-contact: #4c4b4b;
  --l-switch-color: blue;

--------- dark theme --------- 

  --d-background: #0d1116;
  --d-font: #c8d1d9;
  --d-container-form: #161b22;
  --d-login-container-input-border: #D8DEE3;
  --d-link: #58a5ff;
  --d-input-border: #1f6feb;
  --d-input-outline: #0c2c6b;
  --d-button: #238536;
  --d-button-border-hover: #2ca44e;
  --d-github-contact: #9f9e9e;
  --d-switch-color: red;

*/

/* CUSTOM COMPONENTS */

:root {
  --l-background: #fff;
  --l-font: #24292f;
  --l-container-form: #f6f8fa;
  --l-login-container-input-border: #d8dee3;
  --l-link: #0b68da;
  --l-input-border: #d8dee3;
  --l-input-outline: #b6ccf2;
  --l-button: #2ca44e;
  --l-button-border-hover: #24843c;
  --l-github-contact: #4c4b4b;
  --l-switch-color: blue;

  --d-background: #0d1116;
  --d-font: #c8d1d9;
  --d-container-form: #161b22;
  --d-login-container-input-border: #d8dee3;
  --d-link: #58a5ff;
  --d-input-border: #1f6feb;
  --d-input-outline: #0c2c6b;
  --d-button: #238536;
  --d-button-border-hover: #2ca44e;
  --d-github-contact: #9f9e9e;
  --d-switch-color: red;
}

/*   --themeDropDownBg: var(--goldCrayola);
*/

.light-theme {
  --backgroundClr: var(--l-background);
  --font: var(--l-font);
  --containerForm: var(--l-container-form);
  --loginContainerInputBorder: var(--l-login-container-input-border);
  --linkClr: var(--l-link);
  --inputBorder: var(--l-input-border);
  --inputOutline: var(--l-input-outline);
  --buttonClr: var(--l-button);
  --buttonBorderHover: var(--l-button-border-hover);
  --contact: var(--l-github-contact);
  --l-switch-color: blue;
}

.dark-theme {
  --backgroundClr: var(--d-background);
  --font: var(--d-font);
  --containerForm: var(--d-container-form);
  --loginContainerInputBorder: var(--d-login-container-input-border);
  --linkClr: var(--d-link);
  --inputBorder: var(--d-input-border);
  --inputOutline: var(--d-input-outline);
  --buttonClr: var(--d-button);
  --buttonBorderHover: var(--d-button-border-hover);
  --contact: var(--d-github-contact);
  --d-switch-color: red;
}

/* --------- Reset --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  flex-flow: column nowrap;
  box-pack: start;
  flex-wrap: start;
  justify-content: flex-start;
  box-align: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

/* --------- GENERAL --------- */
.header {
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  padding: 32px 0px 24px;
  max-width: 3.5em;
}

h1 {
  color: #24292f;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.container__form {
  background: #f6f8fa;
  border: 1px solid #d8dee3;
  display: flex;
  position: relative;
  box-orient: vertical;
  box-direction: normal;
  flex-flow: column nowrap;
  box-pack: space-evenly;
  flex-wrap: space-evenly;
  justify-content: space-evenly;
  max-width: 23em;
  margin-left: 1em;

  color: #24292f;
  word-wrap: break-word;
  width: 340px;
  padding: 20px;
  border-radius: 6px;
}

label {
  display: flex;
  align-content: flex-start;
  margin-bottom: 0.5em;
}

/* password label */
label.label {
  margin-bottom: 0;
}

.pass {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4em;
}

.forgot {
  color: #0b68da;
  font-size: 0.9em;
  float: right;
  text-decoration: none;
}

.container__form-name {
  margin-bottom: 8px;
  display: inline-block;
  text-align: left;
  position: relative;
  right: 60px;
}

.input {
  border: 0.09em solid #d8dee3;
  border-radius: 6px;
  height: 32px;
  display: block;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 5px 0 13px;
  background: #fff;
}

/* double border */
.input:hover {
  border: 1px solid #0b68da;
  outline: 0.2em solid #b6ccf2;
}

button {
  color: #fff;
  background: #2ca44e;
  border: 1px solid #24843c;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  height: 32px;
  border-radius: 6px;
  margin-top: 0.2em;
  padding: 5px 16px;
}

button:hover {
  background-color: #24843c;
  cursor: pointer;
}

.login {
  display: flex;
  position: relative;
  width: 340px;
  text-align: center;
  border-radius: 6px;
  margin: 16px 0 10px 15px;
  padding: 15px 20px;
  box-pack: center;
  flex-wrap: center;
  justify-content: center;
  border: 1px solid #d0d7de;
  max-width: 23em;
}

.login p {
  color: #24292f;
}

.create {
  color: #0b68da;
  font-size: inherit;
  text-decoration: none;
}

.create:hover,
.forgot:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  box-pack: justify;
  flex-wrap: justify;
  justify-content: space-between;
  box-align: center;
  text-align: center;
  align-items: center;
  flex-wrap: distribute;
  justify-content: space-around;
  margin-top: 3em;
  padding: 40px;
  width: 340px;
}

.link,
.contact {
  position: relative;
  right: 0;
  color: #0b68da;
  font-size: 11.9px;
  text-decoration: none;
}

.contact {
  color: #4c4b4b;
}

.link:hover,
.contact:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0b68da;
}

/* --------- switch --------- */
.switch input {
  display: none;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.switch div {
  position: relative;
  display: block;
  /* transform: translate(15em, 2em); */
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.switch div {
  position: relative;
  display: block;
  background: black;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;

  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  /* background: lightblue; */
}

.slider {
  background: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  transform: translateX(8px);
  transform: translateX(8px);
}

/* ---- TIDY UPS ---- */

/* switch px >> em */
/* check for doubles */
/* alphabetical order */
