body {
  display: flex;
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

h1 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 5px;
}

button {
  margin-bottom: 5px;
  white-space: nowrap;
}
