$size-unit: 14px;
$radius: 6px;

// light mode - alternative (1st version)
$gray-light: #f6f8fa;
$gray-mid: #586869;
$gray-dark: #24292e;
$green: #2ea44f;
$green-dark: #24843c;
$blue: #0366d6;

// $background: $ $ $ $ $ $ $ $ $;

// dark mode

// $dark-space: #031116;
// $form: #161b22;
// $sign-in-button: #438340;
// $link: #6aa5f8;
// $selection: #3570e3;
// $fonts: #cad1d8;
