$size-unit: 14px;
$radius: 6px;

// light theme

$light-background: #fff;
$light-container-form-color: #f6f8fa;
$light-ordinary-font-color: #24292f;
$light-login-border-color: #d0d7de;
$light-button-sign-in-color: #2ca44e;
$light-button-sign-in-hover-color: #24843c;
$light-link-color: #0b68da;
$light-input-border-color: #0b68da;
$light-input-border-glow: #b6ccf2;
$light-contact-color: #f6f8fa;

// dark theme

$dark-background: #0d1116;
$dark-container-form-color: #161b22;
$dark-ordinary-font-color: #c8d1d9;
$dark-login-border-color: #21262d;
$dark-button-sign-in-color: #238536;
$dark-button-sign-in-hover-color: #2da042;
$dark-link-color: #58a5ff;
$dark-input-border-color: #1f6feb;
$dark-input-border-glow: #0c2c6b;
$dark-contact-color: #6b727b;
