/* variables that represent different colors on the webpage */

:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2d4739;
  --gray: #eee;
}

/* colors for different elements in our web page for light and dark theme */

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --themeSwitchColor: var(--sage);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
  --themeSwitchColor: var(--msuGreen);
}

/* --------- GENERAL --------- */

* {
  margin: 0;
  padding: 0;
  color: var(--fontColor);

  transition: background-color 0.6s ease, color 1s ease;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  /* background-color: #999; */
  background-color: var(--themeSwitchColor);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

input:checked + .slider {
  transform: translateX(8px);
}

nav {
  /* background: #d2cca1; */
  background: var(--navBg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  /* background-color: #dedaba; */
  background-color: var(--navLinkHoverBg);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  /* background: #e5c687; */
  background: var(--mainBg);
  height: calc(100vh - var(--navHeight));
}
