/* light theme */
body {
  --text-color: #222;
  --bkg-color: #fff;
}

/* dark theme */
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* Styles for users who prefer dark mode at the OS level, defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}
